.imagenAutosStock{
    width: 30vw;
}
.organizador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1vh black;
}
.titulo{
    text-align: center;
    padding: 1vh;
}

