
.block {
    background-color: #ebeb5900;
    border: double 1vh #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    color: #ffffff;
    padding: 4vh;
    margin: 5vh;
    font-size: 2vw;
}
